<!DOCTYPE html>
<html lang="en">
    <head>
	<html xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml" xmlns: xmlns:
      	xmlns:style="http://www.w3.org/1999/xhtml">

   	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
  	<title> Django - Simple Registration & Login Form</title>
        
    </head>
<body><center>
   
    <div class="col-md-3"></div>
    <div class="col-md-6 well">
        <h3 style="margin-top: 60px;" class="text-primary">Registration & Login Form</h3>
        <hr>
        {% block body %}
        {% endblock %}
    </div>
</center>
</body>
</html>

